@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap');

body {
  font-family: 'Lato', sans-serif;
  margin: 10% auto;
  width: 50%;
  padding: 0;
  background-color: #c7c0c0;
}

#todo-section{
  background-color: rgb(255, 255, 255);
}

.todo-header {
  padding: 5px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c7c0c0;
}

.add-task {
  padding: 20px 30px;
  border-bottom: 1px solid #c7c0c0;
}

#update-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

form #add-to-list {
  outline: none;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-style: italic;
}

.add-btn {
  background-color: transparent;
  border: none;
  outline: none;
}

.display-task {
  padding: 20px auto;
  border-bottom: 1px solid #c7c0c0;
  display: grid;
  grid-template-columns: 10% 80% 20%;
  align-items: center;
}

.material-icons {
  color: #575757;
  cursor: pointer;
}

